.ant-select .ant-select-selector {
  background-color: #ffffff !important; /* Using your colorBgWhite */
}

.custom-select-dropdown .ant-select-item {
  background-color: #ffffff;
}

.custom-select-dropdown .ant-select-item-option-selected {
  background-color: rgba(132, 144, 255, 0.1);
}
